body {
    background-color: lightgray;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    text-align: center;
}
h2, p {
    background-color: lightblue;
    font-size: 0.9rem;
    margin: 0;
    width: 100px
    text-align: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.header {
    color: black;
    text-align: center;
}
#myImage {
    text-align: center;
    width: 90px;
}
#button {
    text-align: center;
    color: black;
}
a.link {
    color: blue;
    text-align: center;
}